html{
	font-size:1rem;
}


h1{
	font-family: 'Abril Fatface', cursive;
	font-size:2rem;
	font-color:black;
}

p{
	font-family: 'Open Sans', sans-serif; 
	font-size:1;
}

.container{
	background:#333;
}

/*
.container2{
	background: #ECECEC no-repeat 50% 50%;*;
}

.pantallacompleta{
    height: 100vh;
}






